<footer
    class="footer-enterprise mt-5 py-4">

    <div class="container">

        <div
            class="d-flex justify-content-center align-items-center text-white">

            <small>

    © 2026

    <%= company === "PGI"
        ? "Pusat Gadai Indonesia"
        : "IT Support Pusat Gadai Indonesia" %>

</small>

        </div>

    </div>

</>